<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flight Reservation" parallel="tests" thread-count="4">
    <test name="passenger-count-1">
        <parameter name="noOfPassengers" value="1"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.seleniumdocker.tests.flightReservation.FlightReservationTest"/>
        </classes>
    </test>
    <test name="passenger-count-2">
        <parameter name="noOfPassengers" value="2"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.seleniumdocker.tests.flightReservation.FlightReservationTest"/>
        </classes>
    </test>
    <test name="passenger-count-3">
        <parameter name="noOfPassengers" value="3"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.seleniumdocker.tests.flightReservation.FlightReservationTest"/>
        </classes>
    </test>
    <test name="passenger-count-4">
        <parameter name="noOfPassengers" value="4"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="org.seleniumdocker.tests.flightReservation.FlightReservationTest"/>
        </classes>
    </test>
</suite>